<html>

  <head>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <script>
    
    $(document).ready( function () {
      $('#datatable').DataTable();
    } );
    </script>

  </head>
  
  <body>
  
<table id="datatable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Coin</th>
            <th>Rank</th>
            <th>Supply_rel</th>

            <th>Subs</th>
            <th>Score</th>

            <th>Flw</th>
            <th>Tscore</th>

            <th>Price28_rel</th>

            <th>Subs7_acc</th>
            <th>Subs28_rel</th>
            <th>Subs28</th>

            <th>Flw7_acc</th>
            <th>Flw28_rel</th>
            <th>Flw28</th>
        </tr>
    </thead>
    <tbody>
    
{% for km in kms %}
        <tr>
            <td>{{ km.coin.cmc.info.id }}</td>
            <td>{{ km.coin.name }}</td>
            <td>{{ km.coin.cmc.rank }}</td>
            <td>{{ round100(km.coin.cmc.supply_rel) }}</td>
            
            <td>{{ km.coin.subs[-1][1] }}</td>
            <td>{{ round10k(km.score) }}</td>

            <td>{{ km.coin.flw[-1][1] }}</td>
            <td>{{ round10k(km.tscore) }}</td>

            <td style="color: #9900FF">{{ round10k(km.price28_rel) }}</td>

            <td>{{ round10k(km.subs7_acc) }}</td>
            <td>{{ round10k(km.subs28_rel) }}</td>
            <td>{{ km.subs28 }}</td>

            <td>{{ round10k(km.flw7_acc) }}</td>
            <td>{{ round10k(km.flw28_rel) }}</td>
            <td>{{ km.flw28 }}</td>
        </tr>
{% endfor %}
    
    </tbody>
</table>  

  </body>
  
</html>
